<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hello World Form!</title>
		<link rel="stylesheet" th:href="@{/css/demo.css}">
	</head>
	<body>
		<h1>Hello World!</h1>
		<p th:text="'Olá, ' + ${param.studentName}+ '!'"></p>
		<form th:action="@{/process-form-version-tree}" method="POST">
			<input type="text" name="studentName" id="studentName" placeholder="Whats yout name?">
			<input type="submit" value="Submit">
		</form>

		<p>The message: <span th:text="${message}"></span></p>
	</body>
</html>